---
import { SidePanelStyled, MenuStyled } from './SidePanel.css'
import List from './components/List/List'
---

<aside class={SidePanelStyled}>
  <div class={MenuStyled}>
    <List list={['chronicles']} />
  </div>
</aside>
