---
import { ContentWrapperStyled, ContentStyled } from './ContentAdapter.css'
import Header from './components/Header/Header.tsx'
---

<div class={ContentWrapperStyled}>
  <Header textDisplay="Touhou" />
  <article class={ContentStyled}><slot /></article>
</div>
