---
import { getCollection } from 'astro:content'
import Document from '@layouts/Document/Document.astro'

const chronicles = await getCollection('chronicles')
---

<style>
  .fullWidth {
    width: 100%;
  }
</style>

<Document title="chronicles" description="Reckless life | chronicles">
  <div class="fullWidth">
    {
      chronicles.map(entry => (
        <a href={`/chronicles/${entry.slug}`}>
          {JSON.stringify(entry.data, null)}
        </a>
      ))
    }
  </div>
</Document>
