---
import { getCollection } from 'astro:content'
import Document from '@layouts/Document.astro'

const chronicles = await getCollection('chronicles')
---

<Document title="chronicles" description="Reckless life | chronicles">
  {
    chronicles.map(entry => (
      <a href={`/chronicles/${entry.slug}`}>
        {JSON.stringify(entry.data, null)}
      </a>
    ))
  }
</Document>
