---
import { getCollection } from 'astro:content'
import DefaultLayout from '@layouts/Default/Default.astro'

const chronicles = await getCollection('chronicles')
---

<style>
  .fullWidth {
    width: 100%;
  }
</style>

<DefaultLayout title="chronicles" description="Reckless Life - Chronicles ">
  <div class="fullWidth">
    {
      chronicles.map(entry => (
        <a href={`/chronicles/${entry.slug}`}>
          {JSON.stringify(entry.data, null)}
        </a>
      ))
    }
  </div>
</DefaultLayout>
