---
import AppLayout from './AppLayout.astro'
import { pageStyle, contentStyle } from '@styles/page.css.ts'
---

<AppLayout>
  <div class={pageStyle}>
    <article class={contentStyle}>
      <slot />
    </article>
  </div>
</AppLayout>
