name: pnpm
on:
  workflow_call:
    inputs:
      node-version:
        description: 'The selected node version to be installed'
        default: '20'
        type: string
      command:
        type: string

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Repository
        uses: actions/checkout@v3

      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run Command
        run: pnpm ${{inputs.command}}
